/* Estilo general */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c3bdc5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

/* Estilo del header */
.franjanegra {
    width: 100%;
    display: flex; 
    align-items: center;
}

.wrapper{
    width: 80%;
    display: flex; 
    justify-content: space-between;
    margin:0 auto;
    align-items: center;
}

@media (max-width:800px){
    .wrapper{
        flex-direction: column;
        align-items: center;
    }
    .franjanegra {
        flex-direction: column;
    }
}

.logo{
    width: 100px;
    }
.logo img{
    width: 100%;
}

.logoname{
    display:flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width:800px){
    .logoname{
       flex-direction: column;
    }
}
.menu {
    display:flex;
    flex-direction: row;
    align-items: center;
}


.icon{
    color:#e24bf2dc;
    margin: 0px 4px 0px 4px;
}
.search-container {
    text-align: center;
    width: 250px;
    display: flex;
    align-items: end;
    flex-direction: column;
}

@media (max-width:800px){
    .search-container {
        align-items: center;
       margin-top: 10px;
    }
}
#search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    max-width: 100%;
}

#search-input:focus {
    border-color: #e24bf2dc;
}
.contacitem {
    width: 23px;
    padding: 0px 10px 0px 10px;
    cursor: grab;
}
.contacitem:hover{
    color:grey;
}


header {
    background-color: #434044;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    border-bottom: 1.5px solid white; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; 
}

header h1 {
    text-align: center;
}


/* Carrito */
.cerrar-carrito{
    float: right;
}
#carrito {
    background-color: #c3bdc5;
    border: 1px solid #a998aa;
    padding: 5px; 
    margin-top: 3px;
    width: auto; 
    height: auto; 
    border-radius: 2px;
    position: fixed;
    top: 85px;
    right: 0px;
    box-sizing: border-box; 
    line-height: 1.2; 
    color: rgb(17, 16, 16); 
    padding: 20px;
    width: 450px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px; 
    overflow-y: auto;
    border: 1px solid #ccc; 
    padding: 10px;
}
@media (max-width:800px){
    #carrito {
        top:234px;
        width: 80%;
    }}


#carrito h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#carrito-container {
    margin-bottom: 20px;
}

#total {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

button {
    background-color: #e24bf2dc;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color:#e24bf2dc;
}

#vaciar-carrito {
    background-color: #434044;
}

#vaciar-carrito:hover {
    background-color: #434044;
}

.item-carrito{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.item-carrito .column-name{
    width: 285px;
    }

/* Ocultar carrito */
.oculto {
    display: none !important;
}

/* Estilo de los productos */
#bookList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 80%;
    padding: 20px;
    padding-top: 150px; 
    margin: 0 auto; 
}
  
#bookList .book-item{
    display: flex;
    flex-direction: column;
    background:#434044;
    padding: 0px 10px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100%;
    text-align: justify;

}
.book-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.book-item .author {
    font-weight: bold;
    text-align: center;
}

.book-item .imagen {
    height: 250px;
    text-align: center;
}

.book-item img {
    height: 100%;

}

.book-item p {
    overflow: hidden; /* Oculta el contenido que se desborda */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size:small;
    color: white;
    text-align:justify;
    margin:15;
}

.description{
    height:75px;
}

.price {
    margin: 0 auto;
}

.book-item button {
    background-color: #e24bf2dc;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    width: 120px;
    margin: 0 auto;
}

.book-item button:hover {
    background-color: #333;
}

/* Estilo para el pie de página */
footer {
    background-color: #434044;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1.5px solid white;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
